<div class='aqualuks-footer'>
  <div class='container'>
    <div class='row'>
      <div class='text-center'>
        <div class='footer_container'>
          <ul class='list-inline'>
            <li>
              <a href="https://plus.google.com/+AqualuksUa" target='_blank'>
                <span><i class='fa fa-google-plus fa-2x'></span></a>
            </li>
            <li>
              <a href="https://vk.com/aqualuks" target='_blank'>
                <span><i class='fa fa-2x fa-vk'></span></a>
          <div class='height30'></div>
          <a class='btn btn-lg btn-orange' id='#btn-back-to-top' href="#" role="button">Наверх</a>
          <div class='height30'></div>
        </div>
        <div='footer_bottom_content'>Copyright © 2014 Aqualuks</div>
      </div>
    </div>
  </div>
</div>

