<div class="aqualuks-top-menu">
  <div class="container">
    <div class='navbar navbar-default' role='navigation'>
      <div class="container">
        <div class='navbar-header'>
          <button class='navbar-toggle' type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class='sr-only'> Toggle navigation </span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href="{{site.url}}">
            <img src="{{ '/images/aqualuks_logo.png' | prepend: site.url }}" alt="Фильтры для воды АкваЛюкс" title="Фильтры для воды АкваЛюкс"></a>
        </div>
        <div class= 'navbar-collapse collapse' id='aqualuks-nav-bar'>
          <ul class='nav navbar-nav navbar-right' style="margin-top: 40px;">
            <li class='active'>
              <a href="{{ '/#aqualuks-top' | prepend: site.url }}">ГЛАВНАЯ</a>
            </li>
            <li>
              <a href='#aqualuks-service'>УСЛУГИ</a>
            </li>
            <li>
              <a href='#aqualuks-about'>О НАС</a>
            </li>
            <li>
              <a href='#aqualuks-blog'>СТАТЬИ</a>
            <li>
              <a href='#aqualuks-contact'>СВЯЗАТЬСЯ С НАМИ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
